<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <!--
  <link rel="stylesheet" href="/css/style.css">-->
</head>
<body>
  <div class="form-container">
    <h2>Sign Up</h2>
    
    {{#if message}}
    <div class="alert">{{message}}</div>
    {{/if}}
    
    <form action="/signup" method="post">
  <input type="text" name="name" required>
  <input type="email" name="email" required>
  <input type="password" name="password" required>

      
      <button type="submit">Sign Up</button>
    </form>
    
    <div class="form-footer">
      Already have an account? <a href="/login">Login</a>
    </div>
  </div>
</body>
</html>
